@using CurrencyConversion.Models.ViewModels;
@model PageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">

     
        <h5 class="h-25">What we have done in this page:</h5>
        <hr />

        <p class="p-0">
            <h7 class="h-25">Step 1. Initial Config Rates from currencysettings.json</h7>
        </p>
        <p class="p-0">
            <h7 class="h-25">Step 2. Initial Currency Rates Matrix</h7>
        </p>
        <p class="p-0">
            <h7 class="h-25">Step 3. Now it's possible to try for Currency Conversion!</h7>
        </p>
        <p class="p-2">

            <hr />

            Amount:
            <input type="text" name="Amount" id="Amount" value="1" />
            &nbsp;&nbsp;
            From Currency:
            <select name="FromCurrency">
                @{
                    foreach (var item in Model.Currencies)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            &nbsp;&nbsp;
            to Currency:
            <select name="ToCurrency">
                @{
                    foreach (var item in Model.Currencies)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            &nbsp;&nbsp;
            <input name="Amount" type="submit" asp-action="CalcRate" value="Calculate Rate" />
        </p>
        <p>
            <h2 class="h-25">
                @{ if (Model.CalculatedAmount is not null)
                    {
                        <span>
                            @Model.Amount &nbsp;&nbsp; @Model.FromCurrency &nbsp;&nbsp;
                            =
                            &nbsp;&nbsp; @Model.CalculatedAmount  &nbsp;&nbsp; @Model.ToCurrency
                        </span>
                    }
                }
            </h2>
        </p>




</form>